# --- Carpetes temporals i de sistema de Unity (NO es pugen) ---
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Mm]emoryCaptures/
/[Aa]ssets/AssetStoreTools*

# --- Fitxers de configuració de Visual Studio / IDEs ---
*.csproj
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
.vs/

# --- FORZAR LA SUBIDA DE ASSETS (MUY IMPORTANTE) ---
!*.meta
!*.prefab
!*.controller
!*.anim
!*.unity
!*.asset

# --- Sistema operatiu ---
.DS_Store
Thumbs.db
Desktop.ini